<!DOCTYPE html>
<html>
  <head>
      <title>Configure WiFi</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <script src="../static/js/jquery-1.11.2.js"></script>

  <script>
  </script>
        
  <body>
      <div id="container">
          <div class="title">
              <h1>Configure WiFi</h1>
          </div>
          <div id="content">
              <p>
                  <label for="cur_ap">Select AP:</label>
                  <select id="cur_ap" name="cur_ap">
                    {% for ap in ap_list %}
                      <option value={{ap}}>{{ap}}</option>
                    {% endfor %}
                  </select>
              </p>
              <p>
                  <label for="pwd">Password:</label>
                  <input type="password" name="pwd" id="pwd"/>
              </p>
              <p>
                  <label for="chk_pwd">Show Password</label>
                  <input type="checkbox" onclick="handle_check(this);" name="chk_pwd" id="chk_pwd"/>
              </p>
              <p>
                  <input type="button" value="Connect" onclick="connect_ap();">
              </p>
          </div>
      </div>
  </body>
    <script>
        function handle_check(chk) {
            var p = document.getElementById('pwd');
            if (chk.checked)
                p.setAttribute('type', 'text');
            else
                p.setAttribute('type', 'password');
        }

        function connect_ap() {
            if (!confirm('After connecting, you will lost connection. Are you sure?'))
                return;
            var ap_tag = document.getElementById('cur_ap');
            var _ap = ap_tag.options[ap_tag.selectedIndex ].value;
            var _pwd = document.getElementById('pwd').value;
            if (_pwd.length == 0){
                alert('Password must be provided.');
            }
            else{
                $.ajax({
                  url: '/connect_ap',
                  type: 'POST',
                  data: {'ap': _ap, 'pwd': _pwd},
                  dataType: "text",
                  success: function (response) {
                      var data = JSON.parse(response);
                      alert(data);
                  },
                    error: function (error) {
                      alert(error);
                  }
                });
            }
        }
    </script>
</html>


